* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

.card {
    max-width: 350px;
    width: 90%;
    min-height: 200px;
    background: #6190E8;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #A7BFE8, #6190E8);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #A7BFE8, #6190E8); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    padding: 20px;
    margin: 50px auto;
    border-radius: 12px;
    box-shadow: 0 10px 30px rgba(0,0,0,0.15);

}

.searchbar {
    width: calc(100% - 50px); 
    min-height: 40px;
    border-radius:20px;
    border:none;
    outline:none;
    padding: 10px 15px 10px 15px;
    cursor:text;


}

.search-container {
    position: relative;
    display:flex;
    justify-content:space-between;
} 

.searchbutton {
    position:relative;
    /* height: 100%; */
    min-width: 40px; 
    border-radius:50%;
    border:none;
    outline:none;
    background-color: white;
    cursor:pointer;

}


.temp {
    text-align:center;
    color:white;
    margin-top: 50px;
}

.temp i {
     font-size: 4rem;
     margin-bottom: 10px;
}

.weather {
    display:flex;
    justify-content: space-between;
    margin-top:30px;
    color:white;

}

.weather i {
   font-size: 2rem;
   margin-bottom: 20px;
}